<?xml version="1.0"?>
<launch>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find iqr_kobuki_description)/urdf/iqr_kobuki_robot.urdf.xacro" />
 
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

  <!-- kobuki -->
  <include file="$(find kobuki_node)/launch/minimal.launch">
  </include>

  <!-- jy901 -->
  <include file="$(find jy901_driver)/launch/jy901_test.launch">
  </include>

  <!-- VLP16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" default="192.168.1.201" />
    <arg name="frame_id" default="base_footprint"/>
    <arg name="max_range" default="100.0" />
    <arg name="rpm" default="600" />
    <arg name="port" default="3201" />
  </include>

  <!-- ZED -->
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch">
  </include>
</launch>
